<div ng-show="!isAfirmative && isClickResult">
    <div class="panel-body text-center h-200">
        <h3 class="m-xs">¿Dar de baja al cliente?</h3>
        (Se cerrará el Ticket con estado "NO Contesto" y se dará de baja al cliente, <br />
          si no desea dar de baja aun, presione el botón REPROGRAMAR)
        <p>
            <div class="row">
                <div class="input-group m-b col-md-6 col-md-offset-3">
                    <textarea class="form-control" rows="3" ng-model="editTicket.detail" maxlength="255" placeholder="Observaciones"></textarea>
                </div>
                <div class="input-group m-b col-md-6 col-md-offset-3">
                    <button class="btn btn-danger" type="button" ng-disabled="!editTicket.detail" ng-click="confirmClose(statusTicket.NOCONTESTO)">
                        <i class="pe-7s-call"></i>
                        <span class="bold">Cerrar Ticket</span>
                    </button>
                </div>
            </div>
        </p>
    </div>
</div>