<div ng-show="isAfirmative && isClickResult">
    <div class="panel-body text-center h-200">
        <h3 class="m-xs">Hizo mantenimiento en Taller Socio</h3>
        (Cerrar ticket con estado: Ya hizo su mantenimiento con taller socio)
        <p>
            <div class="row">
                <div class="input-group m-b col-md-6 col-md-offset-3">
                    <textarea class="form-control" rows="3" id="comment" ng-model="editTicket.detail" maxlength="255" placeholder="Observaciones"></textarea>
                </div>
                <div>
                    <h1 class="rate">{{rate}}</h1>
                    <div class="row lead evaluation">
                        <div id="colorstar" class="starrr ratable pointer">
                        </div>
                    </div>
                </div>
                <div class="input-group m-b col-md-6 col-md-offset-3">
                    <button class="btn btn-primary" type="button" data-toggle="modal" ng-disabled="!editTicket.detail" ng-click="saveTicket(statusTicket.HIZOMANTENIMIENTOENTALLERSOCIO)">
                        <i class="fa fa-lock"></i>
                        <span class="bold"> Control de calidad</span>
                    </button>
                </div>
            </div>
        </p>
    </div>
</div>