<div class="row hidden-print">
    <div class="col-lg-6">
        <div class="hpanel hyellow" style="margin-bottom: 10px;">
            <div class="panel-heading hbuilt" panel-collapse>
                <div class="panel-tools">
                    <a class="showhide">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
                <i class="fa fa-filter"></i> Filtros de fecha
            </div>
            <div class="panel-body collapse" style="padding-bottom: 0px; padding-top: 10px; display: block;">
                <div class="form-group col-md-5">
                    <label for="dateIni">Desde:</label>
                    <div class="input-group date" id="dateIni">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <input type="text" class="form-control" ng-model="dateIni" readonly required>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label for="dateFin">Hasta:</label>
                    <div class="input-group date" id="dateFin">
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                        <input type="text" class="form-control" ng-model="dateFin" readonly required>
                    </div>
                </div>
                <div class="form-group col-md-2" title="{{dateRange.range}}">
                    <label for="searchList">Intervalo</label>
                    <select id="searchList" class="form-control" ng-model="dateRange" ng-change="rangeDate()" ng-options="range as range.range for range in dateRanges"></select>
                </div>
                <div class="form-group col-md-5" title="{{selectedGarage.fullName}}">
                    <label for="garageSelect">Taller derivado:</label>
                    <select id="garageSelect" class="form-control" ng-options="garage.fullName for garage in garageList" ng-model="selectedGarage">
                    </select>
                </div>
                <div class="form-group col-md-5" title="{{selectedUser.fullName}}">
                    <label for="userSelect">Realizado por:</label>
                    <select id="userSelect" class="form-control" ng-options="user.fullName for user in userList" ng-model="selectedUser">
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" type="button" style="margin-top: 22px;" ng-click="getDataFiltered()" title="Mostrar reporte">
                        <i class="fa fa-binoculars"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel hyellow">
            <div class="panel-heading hbuilt" panel-collapse>
                <div class="panel-tools">
                    <a class="showhide">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </div>
                <i class="fa fa-filter"></i> Filtros de estado
            </div>
            <div class="panel-body collapse" style="padding-bottom: 0px; padding-top: 10px; display: block;">
                <div class="form-group col-md-11">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" ng-click="toggleAll()" checked="isAllSet" ng-model="isAllSet">&nbsp;
                            <span style="font-weight: bold">[TODOS]</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[5].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[5].title}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[0].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[0].title}}</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[6].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[6].title}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[1].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[1].title}}</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[7].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[7].title}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[2].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[2].title}}</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[8].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[8].title}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[3].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[3].title}}</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[9].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[9].title}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[4].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[4].title}}</span>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" ng-model="listStatus[10].isSelect" ng-change="changeCheck()">&nbsp;
                            <span>{{listStatus[10].title}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-default" type="button" style="margin-top: 5px; margin-left: -10px;" ng-click="getDataFiltered()" title="Mostrar reporte">
                        <i class="fa fa-binoculars"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row hidden-print">
    <div class="col-lg-12">
        <div class="hpanel" style="margin-bottom: 10px;">
            <div class="panel-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Buscar..." ng-press-enter="getDataFiltered()" ng-model="search">
                    <div class="input-group-btn" ng-click="getDataFiltered()" title="Mostrar reporte">
                        <a class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                    <div class="input-group-btn" ng-click="clearFilters()" title="Limpiar filtros">
                        <a class="btn btn-default">
                            <i class="pe-7s-filter"></i>
                        </a>
                    </div>
                    <div class="input-group-btn" onclick="printData()" title="Vista para imprimir">
                        <a class="btn btn-default">
                            <i class="fa fa-print"></i>
                        </a>
                    </div>
                    <div class="input-group-btn" ng-click="exportExcel()" title="Exportar a Excel">
                        <a class="btn btn-default">
                            <i class="fa fa-file-excel-o"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-warning in" id="modal-alert" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">No hay registros</h4>
            </div>
            <div class="modal-body">
                <p>Ups! al parecer no elegiste ningún estado  para mostrar, <br />obviamente no tenemos resultados para darte. </p>
                
                <p>Por favor elije al menos un estado.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Cerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="row hidden-print">
    <div class="col-lg-12">
        <div class="hpanel hblue" style="margin-bottom: 10px;">
            <div class="panel-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-sm-2 col-xs-12" style="margin-top: 6px;">
                            Son {{totalRows}} registros
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" width="100%" role="grid" style="width: 100%;"
                        id="print-file" border="1">
                        <thead>
                            <tr role="row">
                                <th class="columnIndex" style="width: 40px;">#</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Telefono</th>
                                <th>Orden de Trabajo</th>
                                <th>Placa</th>
                                <th>Ultimo Taller</th>
                                <th>Derivado al Taller</th>
                                <th>Estado del Ticket</th>
                                <th>Realizado por</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in tickets">
                                <td class="columnIndex">{{$index + 1}}</td>
                                <td>{{item.dateRegister}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.cellPhone}}</td>
                                <td>{{item.code}}</td>
                                <td>{{item.numberPlate}}</td>
                                <td>{{item.origen}}</td>
                                <td>{{item.destino}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.userName}}</td>
                                <td>{{item.detail}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="print-header" ng-show="hidden">
    <center>
        <h2>Reporte de Tickets</h2>
        <p>
            Del {{dateIni}} al {{dateFin}}
        </p>
        <p>Son {{ totalRows }} regitros.</p>
    </center>
</div>

<script>
    $("body").toggleClass("hide-sidebar");

    function printData() {
        newWin = window.open("");
        newWin.document.write(document.getElementById("print-header").outerHTML);
        newWin.document.write(document.getElementById("print-file").outerHTML);
        newWin.print();
        newWin.close();
    }
</script>